body{
    color: rgb(0, 0, 0);
    padding: 50px;
}
.a {
    color: rgb(255, 123, 0);
}
.b{
    color: rgb(255, 123, 0);
}
li{
    margin: 2px;
    width: 500px;
}
.one{
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,106,0,1) 14%, rgba(255,252,0,1) 29%, rgba(15,159,7,1) 44%, rgba(6,175,176,1) 57%, rgba(11,5,194,1) 71%, rgba(147,4,212,1) 86%, rgba(244,1,202,1) 100%, rgba(0,212,255,1) 100%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.one_a{
    display: flex;
    flex-direction: row;
}
.one_a_b{
    color: white;
    font-size: 45px;
}
.one_b_a{
    color: white;
    display: flex;
    gap: 10px;
}
a{
    color: rgb(74, 74, 250);
}
a:hover{
    color: rgb(0, 0, 146);
}
.green {
    color: rgb(153, 255, 0);
}
.yellow{
    color: rgb(255, 208, 0);
}